{% extends 'base.html' %}

{% block title %}
	New transaction
{% endblock %}

{% block body %}

	<form action="" method="POST">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        <label for="id_type">Type</label>
        <select name="type" id="id_type" hx-trigger="load, click" hx-get="{% url 'finance:get-categories' %}" hx-target="#id_category">
            <option value="OUTCOME">Outcome</option>
            <option value="INCOME">Income</option>
        </select>
        <label for="id_category">Category</label>
        <select name="category" id="id_category">

        </select>
        {{ form.date }}
        {{ form.amount }}
        {{ form.description }}
        <input type="submit">
    </form>

{% endblock %}
